<h1>Listado de productos estaticos:</h1>
<div>
    {{#each productos}}
    <p> + Titulo: {{this.title}}, descripcion: {{this.description}}, precio: {{this.price}}. Esta disponible: {{this.available}} </p>
    {{/each}}
</div>
